<div>
  Chat Room directory:
  <ul>
    <li *ngFor="let room of (directory$ | async)">
      {{room}}
    </li>
  </ul>
  <form>
    <label>Username</label>
    <input type="text" name="user-id" [(ngModel)]="userId" />
    <button (click)="makeChatRoom()">Make Chat Room</button>
  </form>
  <form>
    <label>Message</label>
    <input type="text" name="message" [(ngModel)]="messageBuff" />
    <button (click)="sendMessage()">Send</button>
  </form>

  <ul>
    <li *ngFor="let chatMessage of (messages$ | async)">
      {{chatMessage.message}}
    </li>
  </ul>
</div>
